<div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %e %b à %l:%M") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
