// Define variables for your color scheme

// For example:
$primary-color: #6A9696;
$secondary-color: #5D92B0;
$bg-3rd: #D6D1A7;
$bg-2rd: #D2CDBB;
$bg-1st: #D0CBC7;
$blue-gradient: linear-gradient(180deg, rgba(106,150,150,1) 0%, rgba(93,146,176,1) 100%);
