//----------------------------------------------------------------------------//
//----------------------------------------------------------------------------//

.activities-container{
  color: $primary-color;
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permet à la section de prendre tout l'espace vertical disponible */
  padding-bottom: 100px;
}
.container-map {
  background-color: white;
  height: 450px;
  margin-top: 10px;
  border-radius: 25px;
}

//----------------------------------------------------------------------------//

.input-search{
  width: 310px;
  border: 1px solid $primary-color;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.search-button {
  width: 40px;
  height: 45px;
  border: 1px solid $primary-color;
  background: #ffffff;
  border-left: none;
  text-align: center;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.wrap-search{
  margin: 20px;
}

//----------------------------------------------------------------------------//

.map-container{
margin: 20px;
border-radius: 10px;
width: 350px;
height: 350px;
}

//----------------------------------------------------------------------------//
//----------------allez à _card.scss pour le Css des annonces
//----------------cards-container
//----------------resum-annonce-card (carte unique)
//----------------------------------------------------------------------------//
//----------------------------------------------------------------------------//


.pages-container{
  margin: auto;
  text-align: center;
}

.annonces-container{
  margin: 0 auto;
}
.favoris-container{
    margin: 0 auto;
}
