.create-activity-card{
  position: relative;
  font-family: 'Verdana', sans-serif;
  background-color: rgba($color: white, $alpha: 0.5);
  border: 0.5px solid lightgrey;
  width: 350px;
  height: 100%;
  color: $primary-color;
  padding-bottom: 90px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.form-create-title {
  display: flex;
  justify-content: center;
  .input-create-title {
    width: 200px;
    text-align: center;
    border: 1px solid $primary-color;
  }
}
.form-create-photo {
  display: flex;
  justify-content: center;
  .input-create-photo {
    height: 37px;
    width: 325px;
    border: 1px solid $primary-color;
  }
}
.form-create-dates {
  display: flex;
  justify-content: space-evenly;
  .input-create-dates {
    width: 130px;
    border: 1px solid $primary-color;
  }
}

.form-create-address {
  display: flex;
  justify-content: center;
  // .mapboxgl-ctrl-geocoder {
  //   display: flex;
  // }
  .mapboxgl-ctrl-geocoder--input {
    width: 220px;
    border: 1px solid $primary-color;
    border-radius: 10px;

  }
  .cache{
    position:absolute;
    width: 350px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 15.5%;
  }
}

.form-max-participants {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  .input-create-max-participants {
    width: 100px;
    border: 1px solid $primary-color;
  }
  .input-create-price {
    width: 100px;
    border: 1px solid $primary-color;
  }
}


.form-create-category-participants {
  display: flex;
  justify-content: center;
  .input-create-category {
    width: 220px;
    border: 1px solid $primary-color;
    box-sizing: border-box;
  }
}


.form-create-description {
  display: flex;
  justify-content: center;
  .input-create-description {
    height: 125px;
    width: 325px;
    border: 1px solid $primary-color;
  }
}
.submit-form-create {
  color: white;
}
