// Specific CSS for your home-page
.home {
  margin: 0 auto;
  color: $primary-color;
}
.home-user {
  text-align: center;
  padding: 40px;
}
.home-likes {
  padding-top: 30px;
}
.home-suggests {
  padding-top: 30px;
}
.link-devise-home {
  text-decoration: none;
  color: white;
}
.nickname-home {
  font-size: 25px;
}
.title-home {
  font-size: 15px;
}
.buttons-home {
padding-top: 70px;
}
