.container-btn-category{
  height: 100%;
  text-align: center;
  margin: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: center;

}

.container-btn-category .first-row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-btn-category .second-row{
  margin-top: 50px;
}
.container-btn-category h1{
  color: $primary-color;
}

.separator {
  position: relative;
  width: 200px;
  height: 3px;
  margin: 0 auto;
  background: transparent;
}

.separator:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 0;
  height: 3px;
  background: transparent;
  animation: separator-anim 8s linear infinite;
}

@keyframes separator-anim {
  25% {
    width: calc(100% + 6px);
  }
  38% {
    width: calc(103% + 6px);
  }
  50% {
    background: #000000;
  }
  62% {
    background: #a9a9a9;
  }
  75% {
    width: calc(103% + 6px);
  }
  88% {
    left: auto;
    right: -3px;
    width: 0;
  }
}
