.requests-card {
  background-color: rgba(255,255,255,0.8);
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $bg-2rd;
  padding: 10px;
  color: $primary-color;
  font-size: 17px;
}
.resquests-container {
  margin-top: 60px;
}
