.requests-card {
  background-color: rgba(255,255,255,0.8);
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $bg-2rd;
  padding: 15px;
  color: $primary-color;
  font-size: 14px;
  h2 {
    font-weight: bold;
  }
}
.resquests-container {
  margin-top: 60px;
}
.requests-accept-reject {
  display: flex;
  flex-direction: column;
}
.icon-pending {
  font-size: 20px;
}
