.no-style {
  text-decoration: none;
  color: inherit;
}
.icon {
  color: $primary-color;
  text-align: right;
}

.btn-logout {
  font-size: 18px; /* Ajustez la taille du texte */
  padding: 10px 20px; /* Ajustez les valeurs de remplissage selon vos besoins */
}
