<div class="profil-card">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for([@user, Rating.new], method: :post, url: profile_ratings_path) do |f| %>
        <div class="form-ratings">
          <%= f.hidden_field :activity_id, value: @activity.id %>
          <%= f.input :note, collection: (1..5).to_a, label: "Notez votre expérience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.submit "Noter", class: "btn-others submit-form-create" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
