<div class="contain">
<div class="onep">
<%= link_to 'Autour de moi', activities_path, class: 'btn btn-primary' %>
<%= link_to 'Catégories', activity_categories_path, class: 'btn btn-primary' %>
</div>
<div class="twop">

<%= link_to 'Favoris', profile_favorites_path, class: 'btn btn-primary' %>
<%= link_to 'Mes Annonces', my_activities_path, class: 'btn btn-primary' %>
</div>
</div>
