  <div class="container-btn-category">
<h1>Rehercher une annonce</h1>
    <div class= "first-row">
      <button class='btn-categorie-menu'>
        <%= link_to 'Autour de moi', activities_path, class:'btn-text'%>
      </button>
      <button class='btn-categorie-menu'>
        <%= link_to 'Par catégorie', activity_categories_path, class: 'btn-text' %>
      </button>
    </div>
<div class="separator"></div>
    <div class= "second-row">
      <button class='btn-categorie-menu'>
        <%= link_to 'Mes favoris', profile_favorites_path, class:'btn-text' %>
      </button>
      <button class='btn-categorie-menu'>
        <%= link_to 'Mes Annonces', my_activities_path, class: 'btn-text' %>
      </button>
    </div>
  </div>
