<div class="contain">
<div class="onep">

<button class='btn-categorie-selection'> <%= link_to 'Autour de moi', activities_path, class:'btn-text'%></button>
<button class='btn-categorie-selection'><%= link_to 'Catégories', activity_categories_path, class: 'btn-text' %></button>
</div>
<div class="twop">

<button class='btn-categorie-selection'><%= link_to 'Favoris', profile_favorites_path, class:'btn-text' %></button>
<button class='btn-categorie-selection'><%= link_to 'Mes Annonces', my_activities_path, class: 'btn-text' %></button>

</div>
</div>
