<h1>Mes activités réservées / En attente / Refusées</h1>

<% @reservations.each do |reservation| %>
  <h2><%= link_to reservation.activity.title, activity_path(reservation.activity) %></h2>
<p>Propriétaire : <%= reservation.activity.user.nickname %></p>
<p>Statut: <%= reservation.status %></p>

<% end %>

  <%= link_to "retour", message_reservation_path, class: "footer-link"%>
