<h1>Message Reservation</h1>

<%= link_to 'Mes Reservations', reservations_path, class: 'btn btn-primary' %>

<%= link_to 'Mes demandes de reservations', reservations_requests_path, class: 'btn btn-primary' %>

<h1>Mes conversations</h1>

<% @reservations.each do |reservation| %>
  <% unless reservation.chatrooms.empty? %>
    <%= link_to 'chatroom', reservation_chatroom_path(reservation, reservation.chatrooms.first) %>
  <% end %>
<% end %>
