<h1>Message Reservation</h1>

<%= link_to 'Mes Reservations', reservations_path, class: 'btn btn-primary' %>

<%= link_to 'Mes demandes de reservations', reservations_requests_path, class: 'btn btn-primary' %>
