<div class="container-reservations">
  <h1>Mes messages</h1>

<div class="messages-btn">
  <button class='btn-categorie-menu'>
    <%= link_to 'Mes demandes', reservations_requests_path, class: 'btn-text' %>
  </button>
</div>

<div class="chatrooms-container" data-controller="new-messages">
    <% @activities.each do |activity| %>
      <% unless activity.chatroom.nil? %>
        <div class="chatroom-card-link" data-action="click->new-messages#toggle" data-new-messages-target="toggleRead">
          <i class="fa-regular fa-comments icon-messages"></i>
          <%= link_to activity.title, activity_chatroom_path(activity, activity.chatroom), class:"btn-text-messages" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
