

//----------------------------------------------------------------------------//
// ------------------- Profil card css (show.html.erb) -----------------------//
//----------------------------------------------------------------------------//

.profil-card{
  font-family: Verdana, sans-serif;
  background-color: rgba($color: white, $alpha: 0.5);
  background-image: url("https://zupimages.net/up/23/27/od0v.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 350px;
  height: 90%;
  color: $primary-color;
  bottom: 0px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

// .profil-card h1{
//   font-family: 'Verdana', sans-serif;
//   font-size: 24px;
//   font-style: normal;
//   font-variant: normal;
//   font-weight: 100;
//   line-height: 26px;
// }


.profil-card .profil-content{
  text-align: left;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.profil-card .profil-content .first-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.profil-card .profil-content .first-row p {
  margin-right: 10px;
}


.profil-card .profil-content .second-row {
  flex-basis: 100%;
}


.profil-card .profil-content .third-row {
  flex-basis: 100%;
}

.profil-card .profil-content .profil-description{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  border-color: $primary-color;
  border: 1px solid;
}

.user-points{
  margin-top: 10px;
}

//----------------------------------------------------------------------------//
// ------------------- Resumé annonces cards  -----------------------//
//----------------------------------------------------------------------------//

.resum-annonce-card {
  background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  border-radius: 10px;
  width: 350px;
  height: 90px;
  color: $primary-color;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
a { display: flex;
}
}
.activity-card-left{
}

.activity-card-center{
  width: 75%;
  padding-left: 15px;
  i{margin-right: 10px;}

}

.activity-card-right{
  width: 25%;
  padding-left: 15px;
  i{margin-right: 10px;}
  margin-top: 20px ;
}

//----------------------------------------------------------------------------//
//----------------------------------------------------------------------------//


.resum-message-card{
  background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 360px;
  height: 90px;
  color: $primary-color;
}


//----------------------------------------------------------------------------//
// ---------------------------- annonces cards  ------------------------------//
//----------------------------------------------------------------------------//

.annonce-card{
  font-family: Verdana, sans-serif;
  background-color: rgba($color: white, $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 350px;
  height: 90%;
  color: $primary-color;
  bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

.annonce-card h1{
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
}


.annonce-card .annonce-content{
  text-align: left;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.annonce-card .annonce-content .first-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.annonce-card .annonce-content .first-row p {
  margin-right: 10px;
}


.annonce-card .annonce-content .second-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.annonce-card .annonce-content .annonce-description{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  border-color: $primary-color;
  border: 1px solid;
}

.annonce-card .annonce-btn-container{
margin-left: 20px;
margin-right: 20px;
display: flex;
justify-content: space-between;
}

.fav-btn{
  position: absolute;
  margin-left: 88%;
  margin-top: 150px;
}
.btn-fav{
  background-color: transparent;
  border: none;
}
