.annonce-card{
  background-color: rgba($color: white, $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 360px;
  height: fit-content;
  color: $primary-color;
}

//----------------------------------------------------------------------------//
// ------------------- Profil card css (show.html.erb) -----------------------//
//----------------------------------------------------------------------------//

.profil-card{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba($color: white, $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 350px;
  height: 90%;
  color: $primary-color;
  position: fixed;
  bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.profil-card h1{
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 26px;
}


.profil-card .profil-content{
  text-align: left;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.profil-card .profil-content .first-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.profil-card .profil-content .first-row p {
  margin-right: 10px;
}


.profil-card .profil-content .second-row {
  flex-basis: 100%;
}


.profil-card .profil-content .third-row {
  flex-basis: 100%;
}

.profil-card .profil-content .profil-description{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  border-color: $primary-color;
  border: 1px solid;
}

//----------------------------------------------------------------------------//
//----------------------------------------------------------------------------//

.resum-annonce-card{
  background-color: rgba($color: white, $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  border-radius: 10px;
  width: 360px;
  height: 90px;
  color: $primary-color;
  margin: 20px;
}
.resum-annonce-card p{
  display: flex;
}


.resum-message-card{
  background-color: rgba($color: white, $alpha: 0.5);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
  width: 360px;
  height: 90px;
  color: $primary-color;
}
