#chatroom-message-user {
  color: black;
  border-radius: 15px;
  background-color : $bg-3rd;
  padding: 8px;
  margin: 5px;
  width: 225px;
}
#chatroom-message-current-user {
  color: white;
  border-radius: 15px;
  background-image: $blue-gradient;
  padding: 8px;
  margin: 5px;
  width: 225px;
}

.chatroom {
  background: transparent;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-grow: 1;
  color: $primary-color;
  overflow: scroll;
  h1 {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 25px;
  }
  .messages {
    height: 100%;
    padding: 1rem;
    overflow: scroll;
    i {
      font-size: x-small;
    }
  }
}
.chatroom-card-activity {
  border-radius: 10px;
  background-color: white;
  border: 0.5px solid lightgrey;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.chatroom-form-message {
  padding-bottom: 50px;
}
.chatroom-input {
  border: 0.5px solid $primary-color;
  height: 10px;
  width: 340px;
}
.chatroom-container-activity {
  background-color: rgb(255,255,255);
  border-radius: 15px;
  padding: 10px;
  border: 2px solid white;
}




///////
.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
// .sender-style, .receiver-style {
//   width: 70%;
//   max-width: 400px;
//   border-radius: 4px;
//   padding: 8px;
//   min-height: 80px;
// }

.sender-style {
  color: white;
  border-radius: 15px;
  background-image: $blue-gradient;
  padding: 8px;
  margin: 5px;
  width: 248px;}

.receiver-style {
  color: black;
  border-radius: 15px;
  background-color : $bg-3rd;
  padding: 8px;
  margin: 5px;
  width: 248px;
}

.droitouille {
  margin-left: 14%;
}
