html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  height: 50px;
  width: 100%;
  // background: rgb(207,202,202);
  background: linear-gradient(180deg, rgba(207,202,202,0.8) 0%, rgba(210,205,187,0.8) 30%, rgba(214,209,167,0.8) 100%);
  padding: 10px 0;
  padding-bottom: 0;
  text-align: center;
  bottom: 0;
  left: 0;
}
footer .container-footer {
  text-align: center;
  max-width: 100%;
}
footer::after {
  content: "";
  display: block;
  clear: both;
}
.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.footer-links li:not(:last-child) {
}
.footer-link {
  color: $primary-color;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.icon-footer {
  color: $primary-color;
  font-size: 28px;
  width: 28px;
  height: 28px;
}
.icon-footer-size-plus {
  text-align: center;
  font-size: 20px;
  border: 3px solid $primary-color;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  padding: 2px;
}
