.img-event-large{
  height: 180px;
  width: 340px;
  object-fit: cover;
  border-radius: 10px;
}

.img-event-medium{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.img-event-small{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.gif{
  height: 50px;
  width: auto;
}
