// .swiper-slide {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// .swiper-slide img {
//   height: 100px;
//   width: 100px;
//   object-fit: cover;
//   -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.74);
//   box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.4);
//   border-radius: 10px;
// }

.slider-container {
  display: inline-flex;
  position: relative;
  width: 100%;
}

#scroll-pane {
  /* position: relative; */
  display: flex;

  /* 📘 transition: doesnt affect snapping timing */
  /* transition: all 3s linear; */
  /* scroll-snap-type: x proximity; */
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: grab;

  width: 100%;
  border-radius: 10px;
}
#scroll-pane h2{
color: black;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 12px;
font-weight: bold;
margin: 8px;
margin-top: -4px;
margin-left: 15px;
}
#scroll-pane p{
  color: grey;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  margin: 8px;
  margin-left: 15px;
  }

#scroll-pane::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  top: calc(50% - (48px / 2)); /* 50% - (half-length of the arrow icon) */

  text-align: center;
  line-height: 5;
  background-color: black;
  color: rgb(223, 223, 223);
  border: 0px white;


  border-radius: 100%;
  cursor: pointer;
  z-index: 3;
}
.arrow-left {
  left: 10px;
}
.arrow-right {
  right: 10px;
}

.scroll-pane img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.scroll-pane img {
  margin: 8px;
  border-radius: 10px;
  height: 120px;
  width: 120px;
}
