// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

@import 'swiper-bundle.min.css';

// Your CSS partials
@import "components/index";
@import "pages/home";
@import "pages/recherche";
@import "pages/activity_index";
@import "pages/activities";
@import "pages/create_activity";
@import "pages/messages";
@import "pages/reservation_index";
@import "pages/user";

body {
  background-image: url('https://marketplace.canva.com/EAE51tnkzvs/1/0/900w/canva-pastel-yellow-floral-quote-wallpaper-s3Y7Db8EpZI.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.empty-div{
  height: 100px;
  width: auto;
  background-color: transparent;
}
