// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/home";
@import "pages/recherche";
@import "pages/activity_index";
@import "pages/activities";

body {
  background-image: url('https://images.unsplash.com/photo-1615716271857-d047989c7114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-repeat: no-repeat;
}
