<% @categories.each do |category| %>
  <button class='btn-categorie'><%= link_to activities_by_category_path(category), class: 'btn-text' do  %>
  <%= category %>
  <i class="<%= Activity::CATEGORY_ICONS[category] %>"></i>
  <% end %></button>
<% end %>



